share/doc/xsd/cluster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://opennebula.org/XMLSchema" xmlns="http://opennebula.org/XMLSchema">
  <xs:include schemaLocation="shared.xsd"/>
  <xs:element name="CLUSTER">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:integer"/>
        <xs:element name="NAME" type="xs:string"/>
        <xs:element name="HOSTS" type="IDS"/>
        <xs:element name="DATASTORES" type="IDS"/>
        <xs:element name="VNETS" type="IDS"/>
        <xs:element name="TEMPLATE" type="xs:anyType"/>
        <xs:element name="PLAN" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ID" type="xs:integer"/>
                  <xs:element name="STATE" type="xs:integer"/>
                  <xs:element name="ACTION">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ID" type="xs:integer"/>
                        <xs:element name="VM_ID" type="xs:integer"/>
                        <xs:element name="STATE" type="xs:integer"/>
                        <xs:element name="OPERATION" type="xs:string"/>
                        <xs:element name="HOST_ID" type="xs:integer"/>
                        <xs:element name="DS_ID" type="xs:integer"/>
                        <xs:element name="TIMESTAMP" type="xs:integer"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
