share/doc/xsd/marketplaceapp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://opennebula.org/XMLSchema" xmlns="http://opennebula.org/XMLSchema">
  <xs:include schemaLocation="shared.xsd"/>
  <xs:element name="MARKETPLACEAPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:integer"/>
        <xs:element name="UID" type="xs:integer"/>
        <xs:element name="GID" type="xs:integer"/>
        <xs:element name="UNAME" type="xs:string"/>
        <xs:element name="GNAME" type="xs:string"/>
        <xs:element name="LOCK" type="LOCK" minOccurs="0" maxOccurs="1"/>
        <xs:element name="REGTIME" type="xs:integer"/>
        <xs:element name="NAME" type="xs:string"/>
        <xs:element name="ZONE_ID" type="xs:string"/>
        <xs:element name="ORIGIN_ID" type="xs:string"/>
        <xs:element name="SOURCE" type="xs:string"/>
        <xs:element name="MD5" type="xs:string"/>
        <xs:element name="SIZE" type="xs:integer"/>
        <xs:element name="DESCRIPTION" type="xs:string"/>
        <xs:element name="VERSION" type="xs:string"/>
        <xs:element name="FORMAT" type="xs:string"/>
        <xs:element name="APPTEMPLATE64" type="xs:string"/>
        <xs:element name="MARKETPLACE_ID" type="xs:integer"/>
        <xs:element name="MARKETPLACE" type="xs:string"/>
        <xs:element name="STATE" type="xs:integer"/>
        <xs:element name="TYPE" type="xs:integer"/>
        <xs:element name="PERMISSIONS" type="PERMISSIONS"/>
        <xs:element name="TEMPLATE" type="xs:anyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>