share/doc/xsd/vm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://opennebula.org/XMLSchema" xmlns="http://opennebula.org/XMLSchema">
  <xs:include schemaLocation="shared.xsd"/>
  <xs:element name="VM">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:integer"/>
        <xs:element name="UID" type="xs:integer"/>
        <xs:element name="GID" type="xs:integer"/>
        <xs:element name="UNAME" type="xs:string"/>
        <xs:element name="GNAME" type="xs:string"/>
        <xs:element name="NAME" type="xs:string"/>
        <xs:element name="PERMISSIONS" type="PERMISSIONS"/>
        <xs:element name="LAST_POLL" type="xs:integer"/>

        <!-- STATE and LCM_STATE values,
        see http://docs.opennebula.org/5.6/operation/references/vm_states.html#list-of-states
        -->
        <xs:element name="STATE" type="xs:integer"/>
        <xs:element name="LCM_STATE" type="xs:integer"/>
        <xs:element name="PREV_STATE" type="xs:integer"/>
        <xs:element name="PREV_LCM_STATE" type="xs:integer"/>
        <xs:element name="RESCHED" type="xs:integer"/>
        <xs:element name="STIME" type="xs:integer"/>
        <xs:element name="ETIME" type="xs:integer"/>
        <xs:element name="DEPLOY_ID" type="xs:string"/>
        <xs:element name="LOCK" type="LOCK" minOccurs="0" maxOccurs="1"/>
        <xs:element name="MONITORING">
          <xs:complexType>
            <xs:sequence>
              <!-- Percentage of 1 CPU consumed (two fully consumed cpu is 2.0) -->
              <xs:element name="CPU" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
              <!-- Amount of bytes read from disk-->
              <xs:element name="DISKRDBYTES" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <!-- Number of IO read operations -->
              <xs:element name="DISKRDIOPS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <!-- Amount of bytes written to disk -->
              <xs:element name="DISKWRBYTES" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <!-- Number of IO write operations -->
              <xs:element name="DISKWRIOPS" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <!-- Disk size details -->
              <xs:element name="DISK_SIZE" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="xs:integer"/>
                    <xs:element name="SIZE" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <!-- ID of the VM -->
              <xs:element name="ID" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <!-- Consumption in kilobytes -->
              <xs:element name="MEMORY" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <!-- Received bytes from the network -->
              <xs:element name="NETRX" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <!-- Sent bytes to the network -->
              <xs:element name="NETTX" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <!-- Exact time when monitoring info were retieved -->
              <xs:element name="TIMESTAMP" type="xs:integer" minOccurs="0" maxOccurs="1"/>
              <!-- vCetner information -->
              <xs:element name="VCENTER_ESX_HOST" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCENTER_GUEST_STATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCENTER_RP_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCENTER_VMWARETOOLS_RUNNING_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCENTER_VMWARETOOLS_VERSION" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCENTER_VMWARETOOLS_VERSION_STATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCENTER_VM_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SCHED_ACTIONS" type="IDS"/>
        <xs:element name="TEMPLATE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AUTOMATIC_DS_REQUIREMENTS" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="AUTOMATIC_NIC_REQUIREMENTS" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="AUTOMATIC_REQUIREMENTS" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="CLONING_TEMPLATE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="CONTEXT" minOccurs="0" maxOccurs="1"/>
              <xs:element name="CPU" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="CPU_COST" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DISK" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                    <xs:element name="VCENTER_DS_REF" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="VCENTER_INSTANCE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DISK_COST" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="EMULATOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="FEATURES" minOccurs="0" maxOccurs="1"/>
              <xs:element name="HYPERV_OPTIONS" minOccurs="0" maxOccurs="1"/>
              <xs:element name="GRAPHICS" minOccurs="0" maxOccurs="1"/>
              <xs:element name="IMPORTED" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="INPUT" minOccurs="0" maxOccurs="1"/>
              <xs:element name="MEMORY" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="MEMORY_COST" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="MEMORY_MAX" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="MEMORY_SLOTS" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="MEMORY_RESIZE_MODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NIC" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                    <xs:element name="VCENTER_INSTANCE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="VCENTER_NET_REF" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="VCENTER_PORTGROUP_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NIC_ALIAS" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ALIAS_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                    <xs:element name="PARENT" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="PARENT_ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                    <xs:element name="VCENTER_INSTANCE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="VCENTER_NET_REF" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="VCENTER_PORTGROUP_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NIC_DEFAULT" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NUMA_NODE" minOccurs="0" maxOccurs="1"/>
              <xs:element name="OS" minOccurs="0" maxOccurs="1"/>
              <xs:element name="PCI" minOccurs="0" maxOccurs="1"/>
              <xs:element name="RAW" minOccurs="0" maxOccurs="1"/>
              <xs:element name="SECURITY_GROUP_RULE" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="SNAPSHOT" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ACTION" type="xs:string"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ACTIVE" type="xs:string"  minOccurs="0" maxOccurs="1"/>
                    <xs:element name="HYPERVISOR_ID" type="xs:string"/>
                    <xs:element name="NAME" type="xs:string"/>
                    <xs:element name="SNAPSHOT_ID" type="xs:string"/>
                    <xs:element name="SYSTEM_DISK_SIZE" type="xs:string"/>
                    <xs:element name="TIME" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SPICE_OPTIONS" minOccurs="0" maxOccurs="1"/>
              <xs:element name="SUBMIT_ON_HOLD" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="TEMPLATE_ID" type="xs:string"  minOccurs="0" maxOccurs="1"/>
              <xs:element name="TM_MAD_SYSTEM" type="xs:string"/>
              <xs:element name="TOPOLOGY" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCPU" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCPU_MAX" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VMGROUP" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="VMID" type="xs:string"/>
              <xs:element name="VROUTER_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VROUTER_KEEPALIVED_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VROUTER_KEEPALIVED_PASSWORD" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="SCHED_ACTION" type="SCHED_ACTION" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="USER_TEMPLATE">
          <xs:complexType>
             <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
              <xs:element name="VCENTER_CCR_REF" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCENTER_DS_REF" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="VCENTER_INSTANCE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HISTORY_RECORDS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="HISTORY" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OID" type="xs:integer"/>
                    <xs:element name="SEQ" type="xs:integer"/>
                    <xs:element name="HOSTNAME" type="xs:string"/>
                    <xs:element name="HID" type="xs:integer"/>
                    <xs:element name="CID" type="xs:integer"/>
                    <xs:element name="STIME" type="xs:integer"/>
                    <xs:element name="ETIME" type="xs:integer"/>
                    <xs:element name="VM_MAD" type="xs:string"/>
                    <xs:element name="TM_MAD" type="xs:string"/>
                    <xs:element name="DS_ID" type="xs:integer"/>
                    <xs:element name="PSTIME" type="xs:integer"/>
                    <xs:element name="PETIME" type="xs:integer"/>
                    <xs:element name="RSTIME" type="xs:integer"/>
                    <xs:element name="RETIME" type="xs:integer"/>
                    <xs:element name="ESTIME" type="xs:integer"/>
                    <xs:element name="EETIME" type="xs:integer"/>

                    <!-- ACTION values:
                      NONE_ACTION             = 0
                      MIGRATE_ACTION          = 1
                      LIVE_MIGRATE_ACTION     = 2
                      SHUTDOWN_ACTION         = 3
                      SHUTDOWN_HARD_ACTION    = 4
                      UNDEPLOY_ACTION         = 5
                      UNDEPLOY_HARD_ACTION    = 6
                      HOLD_ACTION             = 7
                      RELEASE_ACTION          = 8
                      STOP_ACTION             = 9
                      SUSPEND_ACTION          = 10
                      RESUME_ACTION           = 11
                      BOOT_ACTION             = 12
                      DELETE_ACTION           = 13
                      DELETE_RECREATE_ACTION  = 14
                      REBOOT_ACTION           = 15
                      REBOOT_HARD_ACTION      = 16
                      RESCHED_ACTION          = 17
                      UNRESCHED_ACTION        = 18
                      POWEROFF_ACTION         = 19
                      POWEROFF_HARD_ACTION    = 20
                      DISK_ATTACH_ACTION      = 21
                      DISK_DETACH_ACTION      = 22
                      NIC_ATTACH_ACTION       = 23
                      NIC_DETACH_ACTION       = 24
                      DISK_SNAPSHOT_CREATE_ACTION = 25
                      DISK_SNAPSHOT_DELETE_ACTION = 26
                      TERMINATE_ACTION        = 27
                      TERMINATE_HARD_ACTION   = 28
                      DISK_RESIZE_ACTION      = 29
                      DEPLOY_ACTION           = 30
                      CHOWN_ACTION            = 31
                      CHMOD_ACTION            = 32
                      UPDATECONF_ACTION       = 33
                      RENAME_ACTION           = 34
                      RESIZE_ACTION           = 35
                      UPDATE_ACTION           = 36
                      SNAPSHOT_CREATE_ACTION  = 37
                      SNAPSHOT_DELETE_ACTION  = 38
                      SNAPSHOT_REVERT_ACTION  = 39
                      DISK_SAVEAS_ACTION      = 40
                      DISK_SNAPSHOT_REVERT_ACTION = 41
                      RECOVER_ACTION          = 42
                      RETRY_ACTION            = 43
                      MONITOR_ACTION          = 44
                      DISK_SNAPSHOT_RENAME_ACTION = 45
                      ALIAS_ATTACH_ACTION         = 46
                      ALIAS_DETACH_ACTION         = 47
                    -->
                    <xs:element name="ACTION" type="xs:integer"/>
                    <xs:element name="UID" type="xs:integer"/>
                    <xs:element name="GID" type="xs:integer"/>
                    <xs:element name="REQUEST_ID" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SNAPSHOTS" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ALLOW_ORPHANS" type="xs:string"/>
              <xs:element name="CURRENT_BASE" type="xs:integer"/>
              <xs:element name="DISK_ID" type="xs:integer"/>
              <xs:element name="NEXT_SNAPSHOT" type="xs:integer"/>
              <xs:element name="SNAPSHOT" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ACTIVE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CHILDREN" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DATE" type="xs:integer"/>
                    <xs:element name="ID" type="xs:integer"/>
                    <xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PARENT" type="xs:integer"/>
                    <xs:element name="SIZE" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BACKUPS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BACKUP_CONFIG" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BACKUP_VOLATILE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="FS_FREEZE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="INCREMENTAL_BACKUP_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="KEEP_LAST" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="LAST_BACKUP_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="LAST_BACKUP_SIZE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="LAST_DATASTORE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="LAST_INCREMENT_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="MODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BACKUP_IDS" type="IDS"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
