share/doc/xsd/vnet_pool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://opennebula.org/XMLSchema" xmlns="http://opennebula.org/XMLSchema">
  <xs:include schemaLocation="vnet.xsd"/>
  <xs:element name="VNET_POOL">
    <xs:complexType>
      <xs:sequence maxOccurs="1" minOccurs="1">
        <xs:element name="VNET" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:integer"/>
              <xs:element name="UID" type="xs:integer"/>
              <xs:element name="GID" type="xs:integer"/>
              <xs:element name="UNAME" type="xs:string"/>
              <xs:element name="GNAME" type="xs:string"/>
              <xs:element name="NAME" type="xs:string"/>
              <xs:element name="LOCK" type="LOCK" minOccurs="0" maxOccurs="1"/>
              <xs:element name="PERMISSIONS" type="PERMISSIONS"/>
              <xs:element name="CLUSTERS" type="IDS"/>
              <xs:element name="BRIDGE" type="xs:string"/>
              <xs:element name="BRIDGE_TYPE" type="xs:string" minOccurs="0"/>
              <xs:element name="STATE" type="xs:integer"/>
              <xs:element name="PREV_STATE" type="xs:integer"/>
              <xs:element name="PARENT_NETWORK_ID" type="xs:string"/>
              <xs:element name="VN_MAD" type="xs:string"/>
              <xs:element name="PHYDEV" type="xs:string"/>
              <xs:element name="VLAN_ID" type="xs:string" minOccurs="0"/>
              <xs:element name="OUTER_VLAN_ID" type="xs:string" minOccurs="0"/>
              <xs:element name="VLAN_ID_AUTOMATIC" type="xs:string"/>
              <xs:element name="OUTER_VLAN_ID_AUTOMATIC" type="xs:string"/>
              <xs:element name="USED_LEASES" type="xs:integer"/>
              <xs:element name="VROUTERS" type="IDS"/>
              <xs:element name="UPDATED_VMS" type="IDS"/>
              <xs:element name="OUTDATED_VMS" type="IDS"/>
              <xs:element name="UPDATING_VMS" type="IDS"/>
              <xs:element name="ERROR_VMS" type="IDS"/>
              <xs:element name="TEMPLATE" type="xs:anyType"/>
              <xs:element name="AR_POOL">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="AR" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ALLOCATED" type="xs:string" minOccurs="0"/>
                          <xs:element name="AR_ID" type="xs:string"/>
                          <xs:element name="GLOBAL_PREFIX" type="xs:string" minOccurs="0"/>
                          <xs:element name="IP" type="xs:string" minOccurs="0"/>
                          <xs:element name="MAC" type="xs:string"/>
                          <xs:element name="PARENT_NETWORK_AR_ID" type="xs:string" minOccurs="0"/>
                          <xs:element name="SHARED" type="xs:string" minOccurs="0"/>
                          <xs:element name="SIZE" type="xs:integer"/>
                          <xs:element name="NEXT_INDEX" type="xs:integer"/>
                          <xs:element name="TYPE" type="xs:string"/>
                          <xs:element name="ULA_PREFIX" type="xs:string" minOccurs="0"/>
                          <xs:element name="VN_MAD" type="xs:string"  minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
